h1 {
	color: #efefef;
	margin: 0 auto;
	padding: 10px;
	
}

body {
	background-color: #313342;
}

div {
	color: white;
	background-color: black;
	border: 1px solid white;
	min-height: 150px;
}

p {
	color: white;

}